.cadastro-n{
    margin: 1vw 0vw 0vw 2vw;
}

.botao{
    margin: 0vw 0vw 5vw 2vw;
}

.no-view{
    display: none;
}

.lab{
    padding: 5vw 0px 0px 2vw;
    font-weight: bold;
}

.inp{
    padding: 5px 0px 0px 0px;
}

h2{
    margin: 2vw 0vw 0vw 2vw;
}

input{
    margin: 1vw 0px 0px 2vw;
    background: none;
    border: solid 1px #000000;
    width: 250px;
    height: 20px;
    border-radius: 30px;
    padding: 0vw 0vw 0vw .5vw;
}

select{
    margin: 1vw 0px 0px 2vw;
    background: none;
    border: solid 1px #000000;
    width: 250px;
    height: 20px;
    border-radius: 30px;
    padding: 0vw 0vw 0vw .5vw;
}

textarea{
    width: 250px;
    height: 50px;
}

.no-view{
    display: none;
}

.noticias{
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 0px 30px 0px 0px;
    width: 1fr;
    height: auto;
    background-color: #D9D9D9;
    margin: 3vw 3.1vw 3vw 3.1vw;
    box-shadow: 0px 2px 7px 0px #333
}

.img-n{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0vw 1vw 0vw 1vw;
    width: 11vw;
    height: 11vw;
}

.img-n img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11vw;
    height: 11vw;
    object-fit: cover;
    aspect-ratio: 1/1;
}

.titulo-n{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    color: rgb(0, 0, 0);
}

.titulo-n h1{
    font-size: 2rem;
    padding: .5vw 0vw .5vw 0vw;
}

.titulo-n h3{
    font-size: 1rem;
    padding: .5vw 0vw .5vw 0vw;
}

.titulo-n h6{
    font-size: 1rem;
    padding: .5vw 0vw .5vw 0vw;
}
